<html>
<head>
<style>
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
</style>

<div class="header">
  <img src="img1.jfif" alt="logo" />
  <h1>IDENTIFICATION OF TERRORIST ACCOUNTS ON VARIOUS SOCIAL MEDIA PLATFORMS</h1><br><br><br>
</div>
<form action="connect.php" method="POST"> 
  <label for="fname">Enter your number:</label>
  <input type="text" id="num" name="num" required>
  <label for="lname">Enter your Email-id:</label>
  <input type="text" id="email" name="email" required>
  <input type="submit" value="Enter"><br><br>
</form>
<button style="margin-left: 1400px; margin-top: 500px;"><a href="pg2.html" style="text-decoration: none;">Go to Profile</a></button>
</head>
</html>